@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --colorPrimaryDark: #393646;
  --colorPrimary: #4F4557;
  --colorSecondaryDark: #6D5D6E;
  --colorSecondary: #F4EEE0;

  --colorWarning: #C63D2F;
  --colorSuccess: #A8DF8E;
  --colorAlert: #FFBB5C;
}

* {
  margin: 0; padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto';
}

body {
  background-color: var(--colorPrimaryDark);

  padding: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  font-size: 40px;
  font-weight: 700;

  cursor: pointer;

  color: var(--colorSecondary);
}
.header .logo:hover {
  text-decoration: underline;
}
.header .new-task-container {
  display: flex;
}
.header .new-task-container input {
  padding: 6px;
  margin-right: 6px;

  min-width: 300px;
  
  font-size: 18px;

  color: var(--colorSecondary);

  outline: none;
  border: 2px solid var(--colorSecondary);
  border-radius: 3px;

  background-color: transparent;
}
.header .new-task-container input::placeholder {
  color: #F4EEE050;
}
.header .new-task-container button {
  padding: 6px;
  
  font-size: 18px;
  font-weight: 500;

  color: var(--colorPrimaryDark);

  outline: none;
  border: none;
  border-radius: 3px;

  cursor: pointer;

  background-color: var(--colorSecondary);

  transition: all .5s ease;
}
.header .new-task-container button:active {
  transform: scale(0.6);
}
.delete-all-btn {
  margin-left: 15px;

  background-color: var(--colorWarning) !important;

  color: var(--colorSecondary) !important;
}
.delete-all-btn:hover {
  background-color: rgba(var(--colorWarning), .2) !important;
  outline: 1px solid var(--colorWarning) !important;
  color: var(--colorWarning) !important;
}
.delete-all-btn:active {
  transform: scale(1) !important;
}

.tasks-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  margin-top: 30px;
}
.tasks-container .task-card {
  display: flex;
  flex-direction: column;

  border: 2px solid var(--colorSecondary);
  border-radius: 4px;

  width: 400px;
  padding: 6px;
}
.tasks-container .complete {
  border: 2px solid var(--colorSuccess);
}
.tasks-container .complete .title {
  color: var(--colorSuccess) !important;
}
.tasks-container .task-card .title {
  font-weight: 500;
  font-size: 26px;

  color: var(--colorSecondary);
}
.tasks-container .task-card .date {
  font-weight: 300;
  font-size: 16px;

  margin-top: 5px;

  color: var(--colorSecondary);
}
.tasks-container .task-card .buttons {
  display: flex;
  margin-top: auto;
}
.tasks-container .task-card .buttons svg {
  margin-top: 10px;
  width: 38px; height: 38px;

  color: var(--colorSecondary);

  cursor: pointer;
}

.smooth {
  transition: all .5s ease;
}
.delete-btn:hover {
  color: var(--colorWarning) !important;
}
.done-btn:hover {
  color: var(--colorSuccess) !important;
}